* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
  background: #f9f9f9;
  color: #333;
  padding: 0;
}

header {
  text-align: center;
  margin-bottom: 20px;
  background-color: #f1f1f1;
  height: 84px;
}

header h1 {
  font-size: 2em;
}

header p {
  font-size: 1.2em;
  color: #555;
}

main {
  padding: 0 1.4rem;
  max-width: 1280px;
  min-height: calc(100vh - 192px);
  margin: 0 auto;
}

section {
  margin-bottom: 30px;
}

#app-space a {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 20px;
  font-weight: 500;
  background: #0001;
  width: fit-content;
  padding: 5px 15px;
  border-radius: 6px;
}
#app-space img {
  width: 48px;
}
h2 {
  color: #0077cc;
  margin-bottom: 10px;
}

ul {
  list-style: disc;
  margin-left: 20px;
}

a {
  color: #0077cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  font-size: 0.9em;
  color: #999;
  background-color: #333;
  margin-top: 20px;
  padding: 1.4rem;
  height: 68px;
}
