* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #eee;
  background-color: #111;
  font-family: system-ui, sans-serif;
}

h1 {
  color: dodgerblue;
}
h1 a {
  display: block;
  width: fit-content;
  padding: 4px 8px;
  color: unset;
  text-decoration: none;
}

.contr {
  max-width: 1280px;
  margin: 0 auto;
}

main .contr {
  min-height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 5vh;
}

a.card {
  display: block;
  color: unset;
  text-decoration: none;
}
