/* Page Header */
/* ---------------------------------- */
.page-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--white-1);
  backdrop-filter: blur(2px);
  font-family: "Montserrat", "Roboto", "sans-serif";
  z-index: 1000;
}

.page-header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 64px;
  padding: 0 1rem;
  border-bottom: 1px solid #0002;
}
.page-header .page-link {
  color: var(--main-color-1);
  font-size: 1.75rem;
}

/* Nav Section */
/* ---------------------------------- */
.page-header .nav-bar {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  height: 100%;
}
.page-header .nav-link {
  display: block;
  position: relative;
  color: var(--main-color-0);

  padding: 0 4px;
  font-size: 15px;
  font-weight: 600;
  line-height: 52px;

  transition: color 0.2s;
}
.page-header .nav-link:hover {
  color: var(--main-color-1);
}

.page-header .nav-button {
  display: flex;
  align-items: center;
  justify-content: center;

  height: fit-content;
  line-height: 1.5;
}
.page-header .nav-button button {
  color: var(--white-1);
  background-color: var(--main-color-1);
  border: none;
  border-radius: 19px;
  font-size: 15px;
  font-weight: 600;
  font-family: inherit;
  line-height: 37px;
  padding: 0 25px;
  transition: background-color 0.2s;
  cursor: pointer;
}
.page-header .nav-button button:hover {
  background-color: var(--main-color-0);
}
/* Active Section */
/* ---------------------------------- */
.page-header .nav-link.active {
  color: var(--main-color-1);
}

/* Navigation Menu */
/* ---------------------------------- */
.nav-menu-icon {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  padding: 5px;
  gap: 5px;
  cursor: pointer;
}
.nav-menu-icon > div {
  width: 100%;
  height: 3px;
  background-color: var(--main-color-1);
}

/* Media Screens */
/* ---------------------------------- */
@media (max-width: 840px) {
  .page-header .nav-bar {
    position: absolute;
    top: 100%;
    right: -100%;
    width: fit-content;
    height: fit-content;
    padding: 8px 20px 20px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;

    background-color: var(--white-1);
    transition: right 0.2s;
  }

  .nav-menu-icon {
    display: flex;
  }
  .page-header .nav-bar.open-menu {
    right: 0;
  }
}
